@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");
.container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 450px;
  align-items: center;
  text-align: center;
  /* border: 1px solid black; */
  border-radius: 7px;
  margin: auto;
  gap: 25px;
}
 .text{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.rules{
    margin-top: -465px;
    margin-left: -900px;
   width: 600px;
   height: 190px;
  background-color: rgba(251, 241, 241, 1);
  border: 1px solid black;
  border-radius: 7px;
}
.rules p{
    margin-top: 10px;
    margin-left: 10px;
    font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}
.rules pre{
    margin-top: 20px;
    margin-left: 10px;
    font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}
