@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");
*{
  margin: 0;
  padding: 0;
}
.Homecontainer {
  /* position:absolute; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* width: 1182px; */
  height: 700px;
  /* margin-top: 100px; */
  /* margin-left: 190px; */
  margin: auto;
  gap: 5px;
  /* background-color: red; */
}

  
@media (max-width: 1200px) {
  .Homecontainer{
    flex-direction: column; /* Change to "column" for small screens */
    justify-content: center;
    align-items: center;
    margin: auto;
    /* height: 100%; */
  }
}

.diceimage {
    /* position: relative; */
  /* background-color: blueviolet; */
  max-width: 649px;
  max-height: 522px;
}
img{
  max-width: 649px;
  max-height: 522px;
}
  
  .hometext {
    /* position: relative; */
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
     align-items: end;
    justify-content: end; 
  }

 
h1 {
  width: 528px;
  height: 144px;

  /* background-color: brown; */
  font-family: Poppins;
  font-size: 96px;
  font-weight: 700;
  line-height: 144px;
  letter-spacing: 0em;
  text-align: left;
}
button {
  background-color:black;
  color: white;
  /* position: absolute; */
  width: 220px;
  height: 44px;
  /* padding: 10px 18px 10px 18px; */
  border-radius: 5px;
  gap: 10px;
}
button:hover {
  background-color: aliceblue;
  color: black;
  font-size: large;
  transition: 0.2s;
}

@media (max-width: 1200px){
  .diceimage img{
    width: 500px;
  }
  h1 {
    width: 460px;
    height: 44px;
  
    /* background-color: brown; */
    font-family: Poppins;
    font-size: 80px;
    /* font-weight: 500; */
    line-height: 44px;
    /* letter-spacing: 0em; */
    text-align: center;
  }
  
}
@media(max-width:1200px){
  button{
    /* display: flex; */
    /* justify-content: center; */
  
  }
  .hometext{
    /* background-color: greenyellow; */
    align-items: center;
    width: 400px;
    gap: 30px;
  }
  .diceimage{
    /* width: 300px; */
    
    align-items: center;
  }
}