.container {
  display: flex;
}
.squares {
  /* position:sticky; */
  width: 72px;
  height: 72px;
  border: 1px solid black;
  margin-right: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  cursor: pointer;
}
@media(max-width:555px){
  .squares{
    width: 35px;
    height: 35px;
  }
} 
  @media(max-width:555px){
    p{
      text-align: center;
    }
}
.squares:hover {
  background-color: green;
  color: white;
}
.selected{
  background-color: green;
  color: white;
}