@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");
.topsection {
  height: 151px;
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
.score {
  height: 151px;
  width: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score p {
  margin-top: -20px;
  font-family: Poppins;
  font-size: 100px;
  font-weight: 500;
  letter-spacing: 0em;
  align-items: center;
}
.totalscore {
}
.totalscore p {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  margin-top: -20px;
}
.numberSquaresContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: end;
}
.numberSquaresContainer p {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 20px;
  margin-top: 20px;
}
