@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");
*{
  margin: 0;
  padding: 0;
}
.topsection {
  
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  
}
@media (max-width: 1068px) {
  .topsection {
    flex-direction: column; /* Change to "column" for small screens */
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
  }
}
.topsection p{
  margin-top: -20px;
  font-family: Poppins;
  font-size: 60px;
  font-weight: 200;
  letter-spacing: 0em;
  align-items: center;
}


.totalscore p {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  margin-top: -20px;
}
.numberSquaresContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: end;
}
.numberSquaresContainer p {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 20px;
  margin-top: 20px;
}
 .lose p{
  margin-top: -20px;
  font-family: Poppins;
  font-size: 60px;
  font-weight: 200;
  letter-spacing: 0em;
  align-items: center;
}
.win p{
  margin-top: -20px;
  font-family: Poppins;
  font-size: 60px;
  font-weight: 200;
  letter-spacing: 0em;
  align-items: center;
}
.lose pre {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  margin-top: -20px;
}
.win pre {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  margin-top: -20px;
}
.win{
  /* background-color:rgb(100, 186, 212); */
  text-align: center;
  /* border: 1px solid black; */
  border-radius: 7px;
  width: 160px;
}
.lose{
   /* background-color:rgb(100, 186, 212); */
   text-align: center;
   /* border: 1px solid black; */
   border-radius: 7px;
   width: 160px;
}
.container{
  background-color: cornsilk;
  padding: 10px;
  /* margin: -10px; */
  /* height:auto; */
  /* width: 100vh; */
}
.score p{
  margin-top: -20px;
  font-family: Poppins;
  font-size: 60px;
  font-weight: 200;
  letter-spacing: 0em;
  align-items: center;
}
.score pre{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  margin-top: -20px;
 
}
@media (max-width: 555px){
  .score pre{
    font-size: 14px;

  }
  .win pre{
    font-size: 14px;

  }
  .lose pre{
    font-size: 14px;

  }
}
.score{
  /* background-color:rgb(100, 186, 212); */
  text-align: center;
  /* border: 1px solid black; */
  border-radius: 7px;
  width: 160px;
}
.scoringSection{
  display: flex;
}
@media (max-width: 568px){
  .scoringSection{

  }
}